
:root {
    --bg-color: #FFB6C1;
    --header-color: #8A2BE2;
    --subheader-color: #FF6347;
    --section-bg: #FFFACD;
    --section-border: #87CEFA;
    --text-color: #FF69B4;
    --section-header: #FF8C00;
    --button-bg: #DA70D6;
    --button-text: white;
    /* holy smokes that took way longer than I thought to take all the colors I previously had and turn them
    all into variables because I forgot to label where each of them went */
}


/* structure */
.parent-div{
    background-color: var(--bg-color); 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* typography */
h1{
    color: var(--header-color);
    font-size: 45px; 
    margin-bottom: 10px;
}
h2{
    color: var(--subheader-color); 
    margin-top: 0;
    margin-bottom: 50px;
}


/* body */
.flex-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.flex-section{
    background-color: var(--section-bg); 
    border: 1px solid var(--section-border); 
    width: 300px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 20px;
    align-items: center;
}

#txt-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    flex-grow: 1; 
    overflow-y: auto; 
}

#ice-cream-sentence{
    margin: 5px;
    color: var(--text-color); 
}

#preview{
    height: 150px;
    max-width: 100%; 
    margin-top: 10px;
}

.section-header{
    color: var(--section-header); 
    margin-bottom: 15px; 
}

#img-press {
    padding: 8px 15px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer; /* got this from w3 schools... even though I want to say you may of mentioned a cursor pointer in class idk */
}

#slider {
    width: 100%;
    margin: 10px 0;
}


/* FOOTER */

footer p{
    text-align: center;
}


/* Media Queries */
@media screen and (max-width: 599px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
    
    .flex-section{
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .flex-container{
        flex-wrap: wrap;
    }
    
    .flex-section{
        width: 45%;
        margin-bottom: 20px;
    }
}